gcal_twilio_reminder/client_secret_558436482897-vfbmlvlnegsdbdofhshtu08jr0cekk3e.apps.googleusercontent.com.json
gcal_twilio_reminder/.env
gcal_twilio_reminder/sent_events.db
gcal_twilio_reminder/credentials.json
simultaneous_interpretation/voicetranslate-pro.js.checkpoint-20251021-235535
simultaneous_interpretation/README.md
sokuji/*
sokuji
sokuji
